header {
    overflow: hidden;
    height: auto;
}

.width-main,
.col-half,
.col-half-sub,
.third-of-fourth,
.another-news > div,
.col-fourth,
.top-head,
.title,
.third-of-fourth > div {
    width: 100%;
}

.col-half {
    margin-right: 0px;
}

.web-name {
    margin: 0 auto;
}

#real-time,
.header-social,
.nav-bar,
.menu .search {
    display: none;
}

.banner .banner-left {
    height: auto;
    margin-bottom: 60px;
}

.banner-left,
.banner-right > div {
    margin-bottom: 30px;
}

.slider .title-banner {
    bottom: 0%;
}

.btn i {
    top: 10%;
}

.btn-next {
    left: 50px;
}

.hot-news {
    margin: 0 25px;
}

.hot-text {
    padding: 20px 20px 20px 0;
    text-align: center;
    width: auto;
}

.mobile-css {
    margin: 0 25px;
    display: flex;
}

#mobile-time {
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
    font-size: 1.1rem;
}

.list-icon {
    display: block;
    margin-left: auto;
    padding: 10px 0;
}

.list-icon i {
    padding: 0 20px;
    font-size: 1.3rem;
}

.menu {
    flex-direction: column;
    background-color: #252525;
    display: flex;
}

.nav-bar {
    flex-direction: column;
}

.nav-bar li a {
    text-align: start;
    padding-left: 20px;
}

.mobile-icon i {
    display: block;
    margin-right: 18px;
}

.sub-nav li {
    background-color: #333;
}

.sub-nav li a {
    padding-left: 35px;
}

.search {
    padding: 50px 40px 30px 45px;
}

.ct-img,
.another-news,
.update-news > div,
#footer > div,
.mobile-social {
    display: block;
}

.banner-right > div:last-child,
.third-of-fourth > div {
    margin-bottom: 0;
}

.category,
.latest-news,
.another-news > div,
#footer > div,
.banner {
    padding: 0px 25px;
}

.ct-main {
    flex-wrap: wrap;
}

.name {
    font-size: 1.7rem;
}

.article:last-child {
    border-bottom: 3px double var(--colorB);
}

.ar-left {
    display: none;
    width: 0%;
}

.ar-mid,
.ar-right {
    width: 50%;
}

.ar-mid .heading-news {
    width: 200%;
}

.read-more a,
.read-more p {
    font-size: 1.1rem;
}

.mini-img {
    padding-top: 50px;
}

.third-of-fourth .title-banner {
    right: 0%;
    bottom: 0%;
}

.news-right {
    margin-top: 30px;
    height: auto;
}

.more {
    width: 100%;
    line-height: 1.7;
}

.news-right i {
    padding-top: 3px;
}