:root {
    --colorMain: #FFC312;
    --colorB: black;
    --colorW: white;
    --width: 80%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI","Segoe WP",Arial,Sans-Serif;
    color: var(--colorW);
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.width-main {
    width: var(--width);
    margin: 0 auto;
}

.col-half {
    width: 50%;
    margin-right: 30px;
}

.col-half-sub {
    width: 50%;
}

.col-fourth {
    width: 25%;
}

@keyframes load {
    0% {
        width: 100px;
        height: 100px;
    }

    10% {
        width: 100px;
        height: 100px;
    }
    50% {
        width: 150px;
        height: 150px;
    }
    90% {
        width: 100px;
        height: 100px;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
    animation: load 1.3s linear infinite;
    z-index: 10;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(90deg);
    }
    90% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

.loading div {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #f00;
    animation: rotate 1.3s linear infinite;
}

.loading div:first-child {
    top: 0;
    left: 0;
    background-color: var(--colorMain);
}

.loading div:nth-child(2) {
    top: 0;
    right: 0;
    background-color: #1e90ff;
}

.loading div:nth-child(3) {
    bottom: 0;
    left: 0;
    background-color: #4cd137;
}

.loading div:last-child {
    bottom: 0;
    right: 0;
    background-color: #ff3f34;
}

header {
    background-color: var(--colorB);
}

.sticky-parent {
    z-index: 100;
    position: fixed;
    background-color: #010101;
    width: 100%;
    top: 0;
}

.sticky-child {
    margin: 0 10%;
}

@keyframes doimau {
    0% {
      color: var(--colorMain);
    }
    20% {
      /* color: lightblue; */
      color: #ff3f34;
    }
    40% {
        /* color: orange; */
        color: #05c46b;
    }
    60% {
      /* color: #d61dee; */
      
      color: #1e90ff;
    }
    80% {
        
        color: #F8EFBA;
    }
    100% {
      color: var(--colorMain);
    }
}

.top-head {
    padding: 20px 0 0 0;
}

.web-name h1 {
    animation: doimau 2s infinite;
    font-family: 'Raleway', sans-serif;
}

.web-name h1:hover {
    transform: scale(1.1);
    transition: all 1s;
}

#real-time {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    padding-left: 15px;
    border-left: 1px solid var(--colorMain);
}

.header-social {
    margin-left: auto;
    margin-right: -10px;
}

.header-social li:hover {
    transition: all 0.5s;
    transform: scale(1.3);
    color: var(--colorMain);
    padding-bottom: 10px;
}

.header-social .fa-brands {
    margin: 0 10px;
    font-size: 1.1rem;
}

.header-social li:hover .fa-brands {
    color: var(--colorMain);
}

.hot-text {
    width: 300px;
    font-size: 1rem;
    padding: 40px;
    color: var(--colorMain);
    font-weight: 800;
    margin-left: 10px;
    text-align: center;
}

.hot-content {
    padding: 10px 50px;
    color: var(--colorW);
    font-weight: 600;
    display: inline-block;
}

.hot-content:hover {
    color: var(--colorMain);
    cursor: pointer;
    text-decoration: underline;
}

.mobile-css,
.nav-bar i {
    display: none;
}

.menu {
    justify-content: space-between;
}

.menu li {
    position: relative;
    margin-right: 2px;
}

.nav-bar > li:first-child {
    background-color: var(--colorMain);
}

.nav-bar li:hover {
    background-color: var(--colorMain);
}

.nav-bar li a {
    display: block;
    font-weight: 700;
    font-size: 1.1rem;
    padding: 10px 0;
    width: 160px;
    text-align: center;
}

.nav-bar li:hover .sub-nav ul {
    display: block;
}

.sub-nav ul {
    position: absolute;
    display: none;
    background-color: #252525;
    z-index: 1;
}

.sub-nav li a {
    font-size: 1rem;
    font-weight: 600;
}

.search > div {
    height: 40px;
    padding: 0 15px;
    width: 230px;
    border-radius: 4px;
    background-color: white;
    position: relative;
}

.search > div input {
    outline: none;
    font-style: italic;
    border: none;
    color: var(--colorB);
}

.search a {
    padding: 8px 9px;
    font-size: 1.1rem;
    position: absolute;
    right: 0px;
}

.search a:hover,
.search a:hover i {
    background-color: var(--colorMain);
    color: var(--colorW);
    border-radius: 4px;
    transition: all 0.5s;
} 

.search i {
    color: gold;
}

.go {
    position: fixed;
    right: 1.2rem;
    bottom: 1.2rem;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: var(--colorMain);
    border-radius: 4px;
    line-height: 1.8;
    font-size: 1.4rem;
    z-index: 1;
    transition: background 0.5s;
    display: none;
}

.go:hover {
    background-color: var(--colorB);
}

footer {
    background-color: var(--colorB);
    padding: 30px 0 20px 0;
    line-height: 1.7;
    font-size: 1.1rem;
}

footer > div > div {
    height: 240px;
}

footer .fa-solid {
    padding-right: 3px;
}

.pd-left li:hover {
    padding-left: 10px;
    transition: all 0.5s;
}

.pd-left a {
    display: block;
}

.info li:first-child i {
    float: left;
    margin: 5px 8px 0 2px;
}

.info li:first-child a {
    display: block;
}

.pd-left .sub-title:hover,
.pd-left .author:hover {
    padding-left: 0;
}

.pd-left li:hover i,
.pd-left li:hover a {
    color: var(--colorMain);
}

.pd-left .author:hover i {
    color: var(--colorW);
}

.title {
    font-size: 1.5rem;
    padding-bottom: 15px;
    margin-bottom: 15px;
    width: calc(var(--width) + 10%);
    border-bottom: 3px double var(--colorW);
    font-weight: 700;
}

.info li:first-child {
    display: block !important;
}

.info li:hover a,
.info li:first-child:hover i {
    color: var(--colorMain);
}

.footer-social .fa-brands{
    color: var(--colorB);
}

.footer-social a {
    display: inline-block;
    margin: 20px 10px 0 0;
    width: 2.18rem;
    height: 2.18rem;
    padding: 0.3rem 0;
    text-align: center;
    font-size: 1.1rem;
    background: var(--colorW);
    border-radius: 4px;
    line-height: normal;
}

.footer-social a:hover {
    transition: all 0.5s;
    transform: scale(1.3);
}

.footer-social a:hover i {
    color: var(--colorW);
    transition: all 0.5s;
}

.footer-social li:first-child a:hover {
    background-color: #3b5999;
    border-color: #3b5999;
}

.footer-social li:nth-child(2) a:hover {
    background-color: #55acee;
    border-color: #55acee;
}

.footer-social li:nth-child(3) a:hover {
    background-color: #c00;
    border-color: #c00;
}

.footer-social li:nth-child(4) a:hover {
    background: linear-gradient(to right,#010101, #69C9D0, #EE1D52);
    border-color: linear-gradient(to right,#010101, #69C9D0, #EE1D52);
}

.footer-social li:nth-child(5) a:hover {
    background-color: #97C024;
    border-color: #97C024;
}

.footer-social li:last-child a:hover {
    background-color: var(--colorMain);
    border-color: var(--colorMain);
}

.footer-right p {
    padding-bottom: 20px;
}

.mail > div {
    padding: 0 15px;
    border-radius: 4px;
    background-color: white;
    position: relative;
    width: 90%;
}

.mail > div input {
    outline: none;
    width: 100%;
    height: 2.5rem;
    font-style: italic;
    border: none;
    color: var(--colorB);
}

.mail a {
    padding: 0.5rem;
    font-size: 1.1rem;
    position: absolute;
    right: 0px;
    background-color: var(--colorMain);
    line-height: normal;
    border-radius: 4px;
}

.mail a:hover {
    opacity: 0.5;
}

footer > p {
    text-align: center;
    opacity: 0.5;
    font-size: 1rem;
    font-style: italic;
}