.update-news {
    padding-bottom: 30px;
}

.banner .banner-left {
    height: 391.73px;
}

.banner-left {
    position: relative;
    overflow: hidden;
}

.banner-right {
    flex-wrap: wrap;
}

.banner-right > div {
    position: relative;
}

.banner-left:hover img,
.banner-right > div:hover img,
.mini-img:hover,
.rc-article a:first-child:hover img {
    filter: blur(2px);
}

.btn i {
    color: var(--colorW) !important;
    font-size: 0.9rem;
    opacity: 0.8;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 1.9;
    background-color: var(--colorB);
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    top: 46%;
}

.btn i:hover {
    background-color: var(--colorMain);
    opacity: 1;
    transition: all .5s;
}

.btn-prev {
    left: 10px;
}

.btn-next {
    right: 10px;
}

.title-banner {
    position: absolute;
    color: var(--colorW) !important;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    padding: 15px 10px 15px 20px;
    background-image: linear-gradient(rgba(0,0,0,.0),rgba(0,0,0,.3),rgba(0,0,0,.9));
}

.title-banner:hover {
    color: var(--colorMain) !important;
    transition: color .5s;
}

.tb-left {
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.5;
}

.tb-right {
   font-size: 1.1rem;
   font-weight: 400;
   line-height: 1.5;
}

.category {
    padding-bottom: 30px;
}

.ct-nav {
    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 3px double var(--colorB);
}

.name {
    font-size: 2rem;
    font-weight: 700;
}

.latest-news .name {
    margin-bottom: 30px;
}

.name:hover,
.topic:hover,
.heading-news {
    transition: color .3s;
}

.tech:hover {
    color: var(--tech);
}

.sports:hover {
    color: var(--sports);
}

.entertainment:hover {
    color: var(--entertainment);
}

.another:hover {
    color: var(--colorMain);
}

.article {
    border-bottom: 3px double var(--colorB);
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.article:last-child {
    border-bottom: none;
}

.ar-left {
    width: 25%;
    text-align: center;
}

.ar-left a {
    font-size: 1.5rem;
    font-weight: 600;
}

.ar-left p {
    margin-top: 15px;
}

.ar-mid {
    width: 50%;
}

.ar-mid h2,
.ar-mid > a:nth-child(2) > p {
    width: 95%;
}

.ar-mid > a:nth-child(2) > p:hover {
    opacity: 0.7;
}

.ar-mid p {
    padding: 10px 0;
}

.ar-mid h2 {
    font-size: 1.3rem;
}

.ar-right {
    width: 25%;
}

.mini-img {
    width: 80%;
}

.news-left {
    width: 75%;
    flex-wrap: wrap;
}

.third-of-fourth {
    width: calc(100% / 3);
}

.third-of-fourth > div {
    width: 90%;
    margin-bottom: 30px;
}

.third-of-fourth .title-banner {
    right: 10%;
    bottom: 15%;
}

.news-right {
    width: 25%;
    height: auto;
}

.news-right .title {
    border-color: var(--colorB);
    width: 100%;
    font-size: 1.8rem;
    margin-top: -50px;
}

.more {
    width: 95%;
}

.more li {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 12px;
}

.more p:hover {
    color: var(--colorMain);
    transition: color .3s;
}

.news-right i {
    float: left;
    margin: 5px 0px 0 2px;
    margin-left: -15px;
    color: var(--colorB);
}

.news-right p {
    margin-left: 20px;
}